<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="coll" class="com.deloitte.CollectionExample"> 
   		<property name="cityList">
   		<list>
   			<value>Bangalore</value>
   			<value>Varanasi</value>
   			<value>Noida</value>
   		</list>
   		</property>
   		
   		<property name="citySet">
   		<set>
   			<value>ABC</value>
   			<value>XYZ</value>
   			<value>IJK</value>
   		</set>
   		</property>
   		
   		<property name="cityMap">
   		<map>
   			<entry key="1" value="ABCMAP"/>
   			<entry key="2" value="XYZMAP"/>
   			<entry key="3" value="IJKMAP"/>
   		</map>
   		</property>
   		
   		<property name="prop">
   		<props>
   			<prop key="one"> Bangalore </prop>
   			<prop key="two"> Pune </prop>
   			<prop key="three"> Delhi</prop>
   		</props>
   		</property>
   </bean>
   
   </beans>